hibernate.show_sql=false
hibernate.connection.release_mode=after_statement
hibernate.c3p0.acquire_increment=1
hibernate.c3p0.idle_test_period=240
hibernate.c3p0.timeout=600
hibernate.c3p0.max_size=100
hibernate.c3p0.min_size=3
hibernate.c3p0.validate=false
hibernate.c3p0.max_statements=500
c3p0.preferredTestQuery=SELECT 1 FROM DUAL
c3p0.testConnectionOnCheckout=true
c3p0.testConnectionOnCheckin=true
hibernate.c3p0.acquire_increment=1
hibernate.c3p0.validate=true
hibernate.cache.use_second_level_cache=false
hibernate.jdbc.batch.size=20
