/* You can add global styles to this file, and also import other style files */
/*
 * Base structure
 */

/* spin icon replace checkbox */
.checkbox .fa-spin{
  margin-left: -22px;
  margin-right: 4px;
}

/* spin icon replace checkbox */
.radio .fa-spin{
  margin-left: -22px;
  margin-right: 4px;
}