<section class="content-header">
  <h1>{{ query.name }}</h1>
</section>
<section class="content">
  <div class="row placeholder">
    <div class="col-md-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#tab_1" data-toggle="tab" aria-expanded="true">Tab 1</a>
          </li>
          <li>
            <a href="#tab_2" data-toggle="tab" aria-expanded="true">Tab 2</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab_1">
            <pre>{{ query.oracleQuery }}</pre>
          </div>
          <div class="tab-pane" id="tab_2">
            <pre>{{ query.sqlQuery }}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row placeholder">
      <div class="col-md-12">
          <div class="box box-solid box-danger">
              <div class="box-header">Improve it</div>
              <div class="box-body">
                <div class="form-group">
                    <textarea class="form-control" rows="5" id="improve_query"></textarea> 
                </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row placeholder">
      <div class="col-md-12">
          <app-sample-data></app-sample-data>
      </div>
  </div>

  <div class="row placeholder">
      <div class="col-md-12">
        <div class="pull-right">
          <a class="mr-20" [routerLink]="['/queries-to-me']">Back</a>
          <button class="btn btn-danger">Deny</button>
          <button class="btn btn-success">Approve</button>
        </div>
      </div>
  </div>
</section>