<section class="content-header">
  <h1>
    401 Error Page
  </h1>
</section>

<section class="content">
  <div class="error-page">
    <h2 class="headline text-yellow"> 401</h2>

    <div class="error-content">
      <h3><i class="fa fa-warning text-yellow"></i> Unauthorized!</h3>

      <p>
        We could not let you visit this page with your current role.
        Meanwhile, you may <a href="../../index.html">return to dashboard</a>.
      </p>

    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>