<div class="login-box">
  <div class="login-logo">
    <b>Daquery</b><i class="fa fa-glass"></i>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">Application Initial Setup (Step 2/3)</p>

    <form name="form" (ngSubmit)="f.form.valid && next()" #f="ngForm" novalidate>
      <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !realname.valid }">
        <input type="text" class="form-control" name="realname" placeholder="Real Name" [(ngModel)]="model.realname" #realname="ngModel" required />
        <span class="fa fa-user form-control-feedback"></span>
        <div *ngIf="f.submitted && !realname.valid" class="help-block">Real Name is required</div>
      </div>
      <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)]="model.email" #email="ngModel" required />
        <span class="fa fa-envelope form-control-feedback"></span>
        <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
      </div>
      <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required />
        <span class="fa fa-lock form-control-feedback"></span>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
      </div>
      <div class="form-group has-feedback" [ngClass]="{ 'has-error': f.submitted && !password_confirmation.valid }">
        <input type="password" class="form-control" name="password_confirmation" placeholder="Retype Password" [(ngModel)]="model.password_confirmation" #password_confirmation="ngModel" required />
        <span class="fa fa-lock form-control-feedback"></span>
        <div *ngIf="f.submitted && !password_confirmation.valid" class="help-block">Retype Password is required</div>
      </div>
      <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
          <button [disabled]="loading" class="btn btn-primary btn-block btn-flat">
            {{ loading ? '...' : 'Next' }}
          </button>
        </div>
      </div>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>

  </div>
</div>