<section class="content-header">
  <h1><i class="fa fa-cloud"></i> {{ site.name }} <small>Site that you can query</small></h1>
</section>
<section class="content">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Users from {{ site.name }}</h3>
    </div>
    <div class="box-body">
      <ul class="list-unstyled">
        <li *ngFor="let user of remote_users">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h3>{{ user.email }}</h3>
              <div class="radio">
                <label>
                  <input *ngIf="!showSpin" type="radio" name="userright" attr.data-userid="{{user.id}}" [(ngModel)]="user.rights.aggregate" (change)="toggleRight($event, 'aggregate')" ><i *ngIf="showSpin" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i> Aggregate
                </label><br />
                <label>
                  <input *ngIf="!showSpin" type="radio" name="userright" attr.data-userid="{{user.id}}" [(ngModel)]="user.rights.datadownload" (change)="toggleRight($event, 'datadownload')" ><i *ngIf="showSpin" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i> Aggregate / Data Download
                </label>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>