<section class="content-header">
  <h1><i class="fa fa-cloud"></i> {{ site?.name }} <small>Site that you can query</small></h1>
</section>
<section class="content">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Users from {{ site?.name }}</h3>
    </div>
    {{ remote_users | json }}
    <div class="box-body">
      <ul class="list-unstyled">
        <li *ngFor="let user of remote_users">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h3>{{ user.realName }}</h3>
              <div class="checkbox">
                <label>
                  <input *ngIf="!showSpin" id="{{user.id+'_Aggregate'}}" type="checkbox" [checked]="user.roles.includes('aggregate_querier')" attr.data-userid="{{user.id}}" attr.data-siteid="{{site.siteId}}" attr.data-networkid="{{network_id}}" (change)="onAggregateToggle($event, 'aggregate_querier')">
                  <i *ngIf="showSpin" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i> aggregate_querier
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input *ngIf="!showSpin" id="{{user.id+'_Data'}}" type="checkbox" [checked]="user.roles.includes('data_querier')" attr.data-userid="{{user.id}}" attr.data-siteid="{{site.siteId}}" attr.data-networkid="{{network_id}}" (change)="onDataToggle($event, 'data_querier')">
                  <i *ngIf="showSpin" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i> data_querier
                </label>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>