<div class="login-box">
  <div class="login-logo">
    <b>Daquery</b><i class="fa fa-glass"></i>
  </div>
  <div class="login-box-body">
    <div *ngIf="!started">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-warning alert-dismissible">
            <h4><i class="icon fa fa-warning"></i> System Update {{ forceUpdate ? "Required" : "Available"}}!</h4>
            <p *ngIf="!currentUserRoles.includes('admin')">A Daquery system update is required. Please ask an administrator to login and perform the update.</p>
            <p *ngIf="currentUserRoles.includes('admin')">There is system update available. Click the "System Updage" button to update Daquery.</p>
          </div>
        </div>
      </div>
      <div *ngIf="currentUserRoles.includes('admin')" class="row">
        <button class="btn btn-danger btn-block" (click)="systemUpdate()">
          <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>
          <span *ngIf="!loading">System Update</span>
        </button>
      </div>
      <div>
        <button *ngIf="!forceUpdate" class="btn btn-link btn-block" [routerLink]="['/queries-to-me']">
          Enter Daquery
        </button>
      </div>
      <div *ngIf="!currentUserRoles.includes('admin') && forceUpdate" class="row">
        <div class="col-md-6 col-md-offset-4">
          <button class="btn btn-default" (click)="onLogout()">Log out</button>
        </div>
      </div>
    </div>
    <div *ngIf="started">
      <p *ngIf="updating && !updated_success">Daquery is updating. This may take several minutes.</p>
      <p *ngIf="!updating && updated_success">The update is complete. Please re-login Daquery.</p>
      <div *ngIf="!updating && !updated_success" class="alert alert-error alert-dismissible">
        <h4><i class="icon fa fa-ban"></i> System Update Failed!</h4>
        <p>{{ update_message }}</p>
      </div>
      <i *ngIf="updating && !updated_success" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>
      <button *ngIf="!updating" class="btn btn-primary btn-block btn-flat" (click)="OK()">
        <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>
        <span *ngIf="!loading">OK</span>
      </button>
    </div>
  </div>
</div>
