<section class="content-header">
  <h1>Connect Site <small>connect a site to share data</small></h1>
</section>
<section class="content">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{{ network.name }}</h3>
    </div>
    <div class="box-body">
      <form>
        <div class="form-group">
          <label for="sitename">Site Name</label>
          <select class="form-control" id="sitename">
            <option *ngFor="let site of sites">
              {{ site.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="siteoption">Option</label>
          <div class="radio">
            <label>
              <input type="radio" name="siteoptions">Query data
            </label><br />
            <label>
              <input type="radio" name="siteoptions">Share data
            </label><br />
            <label>
              <input type="radio" name="siteoptions">Both
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</section>
