<section class="content-header">
  <h1>Connect Site <small>connect a site to share data</small></h1>
</section>
<section class="content">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">{{ network?.name }}</h3>
    </div>
    <div class="box-body">
      <form #f [formGroup]="connectSiteForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group has-feedback" [ngClass]="{'has-error': site.invalid && (submitted || site.dirty || site.touched), 'has-success': site.valid && (submitted || site.dirty || site.touched) }">
          <label for="site">Site</label>
          <select class="form-control" formControlName="site" id="site" (change)="onChange()">
            <option value="">-Select-</option>
            <option *ngFor="let site of sites" [value]="site.siteId">
              {{ site.name }}
            </option>
            <option value="new">
              New Site
            </option>
          </select>
          <div class="help-block" *ngIf="site.invalid && (submitted || site.dirty || site.touched)">Please select a site</div>
        </div>
        <div *ngIf="site.value == 'new'" class="form-group has-feedback" [ngClass]="{'has-error': name.invalid && (submitted || name.dirty || name.touched), 'has-success': name.valid && (submitted || name.dirty || name.touched) }">
          <label for="name">Site Name</label>
          <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name">
          <div class="help-block" *ngIf="name.invalid && (submitted || name.dirty || name.touched)">Please enter a name</div>
        </div>
        <div *ngIf="site.value == 'new'" class="form-group has-feedback" [ngClass]="{'has-error': url.invalid && (submitted || url.dirty || url.touched), 'has-success': url.valid && (submitted || url.dirty || url.touched) }">
          <label for="url">URL</label>
          <input type="text" formControlName="url" class="form-control" id="url" placeholder="URL">
          <div class="help-block" *ngIf="url.invalid && (submitted || url.dirty || url.touched)">Please enter a URL</div>
        </div>
        <div *ngIf="site.value == 'new'" class="form-group has-feedback" [ngClass]="{'has-error': admin_email.invalid && (submitted || admin_email.dirty || admin_email.touched), 'has-success': admin_email.valid && (submitted || admin_email.dirty || admin_email.touched) }">
            <label for="admin_email">Admin Email</label>
            <input type="text" formControlName="admin_email" class="form-control" id="admin_email" placeholder="Admin Email">
            <div class="help-block" *ngIf="admin_email.invalid && (submitted || admin_email.dirty || admin_email.touched)">Please enter a Admin Email Address</div>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-default" (click)="onCancel()">Cancel</button>
      </form>
    </div>
  </div>
</section>
