    .codebox {
        /* Below are styles for the codebox (not the code itself) */
        border:1px solid black;
        background-color:#EEEEFF;
        width:100%;
        overflow:auto;    
       /* padding-left:12px;
        padding-right:12px;
	padding-top:10px;
	padding-bottom:10px; */

        padding: 10px;
        background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%), linear-gradient(to bottom, rgb(186, 189, 193) 0%, rgb(186, 189, 193) 100%);
        background-clip: content-box, padding-box;	
    }
    .codebox code {
        /* Styles in here affect the text of the codebox */
	font-family:monospace;
        font-size:.9em;
	padding: 0px;
	margin: 0px;
	box-shadow: 0 0 0 0;
	line-height: 0px;
        /* You could also put all sorts of styling here, like different font, color, underline, etc. for the code. */
    }

    .codebox br {
	    display: block;
	    margin: 0px 0;
	    line-height: 0px;
    }

    .innercodebox {
	    padding-left: 5px;
	    padding-right: 5px;
    }
    
