<section class="content-header">
  <h1><i class="fa fa-share-alt"></i> {{ network.name }} <small>patient empowered research</small>
    <div class="btn-group open">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <i class="fa fa-cog"></i>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a [routerLink]="['data-source']">Edit Data Source</a></li>
      </ul>
    </div>
  </h1>
</section>
<section class="content">
  <div *ngIf="pendingSites.length > 0" class="row">
    <div class="col-lg-12 col-sm-12 placeholder">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-tasks"></i> Waiting response</h3>
        </div>
        <div class="box-body">
          <ul class="list-unstyled">
            <li *ngFor="let ps of pendingSites">
              <div class="callout callout-warning clearfix">
                <p class="pull-right">
                  <button class="btn btn-success" (click)="approveConnect(ps)">Approve</button>
                  <button class="btn btn-danger" (click)="denyConnect(ps)">Deny</button>
                </p>
                <p>{{ ps.name }} wants to access your data. Please respond!</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-lg-offset-3 col-lg-6 col-md-6 col-sm-12">
      <a class="btn btn-block btn-info" [routerLink]="['/add-site']" [queryParams]="{network: network_id}">Connect New Site</a>
    </div>
  </div> -->
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-cloud-upload"></i> Outgoing Sites</h3>
          <a class="btn btn-link btn-sm" [routerLink]="['/add-site']" [queryParams]="{network: network_id}">Add Site</a>
        </div>
        <div class="box-body">
          <ul class="list-unstyled">
            <li *ngFor="let os of outSites">
              <div class="box box-success">
                <div class="box-body">
                  <p class="pull-right">
                    <small *ngIf="os.status.toLowerCase() === 'pending'" class="label pull-right bg-red">pending</small>
                  </p>
                  <h4>{{ os.name }}</h4>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-cloud-download"></i> Incoming Sites</h3>
        </div>
        <div class="box-body">
          <ul class="list-unstyled">
            <li *ngFor="let is of inSites">
              <div class="box box-info">
                <div class="box-body">
                  <p class="pull-right">
                    <small class="label pull-right bg-green">on</small>
                  </p>
                  <h4><a [routerLink]="['/sites', is.siteId]">{{ is.name }}</a></h4>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>