<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">{{ network.name }}</h1>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <ul>
        <li *ngFor="let ws of waitingSites">
          {{ws.name}}
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <ul>
        <li *ngFor="let os of outSites">
          {{os.name}}
        </li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-12">
      <ul>
        <li *ngFor="let is of inSites">
          {{is.name}}
        </li>
      </ul>
    </div> 
  </div>
</div>