<div class="row">
  <div class="col-md-8">
    <div class="box box-primary">
      <div class="box-header with-border">Join Network</div>
      <div class="box-body">
        <form #f [formGroup]="joinNetworkForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="form-group has-feedback" [ngClass]="{'has-error': network.invalid && (submitted || network.dirty || network.touched), 'has-success': network.valid && (submitted || network.dirty || network.touched) }">
            <label for="available-networks">Available Networks</label>
            <i *ngIf="loadingAvailableNetworks" class="fa fa-circle-o-notch fa-spin fa-fw"></i>
            <select *ngIf="!loadingAvailableNetworks" formControlName="network" class="form-control">
              <option value="">-Select-</option>
              <option *ngFor="let network of availableNetworks" value="{{ network.networkId }}">
                {{ network.name }}
              </option>
            </select>
            <div class="help-block" *ngIf="network.invalid && (submitted || network.dirty || network.touched)">Please select a network</div>
          </div>
          <hr />
          <div class="form-group has-feedback" [ngClass]="{'has-error': driver.invalid && (submitted || driver.dirty || driver.touched), 'has-success': driver.valid && (submitted || driver.dirty || driver.touched) }">
              <label>CDM Database Type</label>
              <!-- <input type="text" formControlName="driver" class="form-control" name="driver" placeholder="Data source driver"> -->
              <select formControlName="driver" class="form-control" name="driver" (change)="onChange($event)">
                <option value="oracle.jdbc.driver.OracleDriver" data-urlexample="jdbc:oracle:thin:@server.url:1521:sid">Oracle</option>
                <option value="com.microsoft.sqlserver.jdbc.SQLServerDriver" data-urlexample="jdbc:sqlserver://server.name:1433;databaseName=DB_NAME;">SQL Server</option>
              </select>
              <div class="help-block" *ngIf="driver.invalid && (submitted || driver.dirty || driver.touched)">Please enter the data source driver</div>
            </div>
          <div class="form-group has-feedback" [ngClass]="{'has-error': url.invalid && (submitted || url.dirty || url.touched), 'has-success': url.valid && (submitted || url.dirty || url.touched) }">
            <label>CDM JDBC URL e.g. ({{ urlexample }})</label>
            <input type="text" formControlName="url" class="form-control" name="url" placeholder="Data source URL">
            <div class="help-block" *ngIf="url.invalid && (submitted || url.dirty || url.touched)">Please enter the Data source url</div>
          </div>
          <div class="form-group has-feedback" [ngClass]="{'has-error': username.invalid && (submitted || username.dirty || username.touched), 'has-success': username.valid && (submitted || username.dirty || username.touched) }">
            <label>CDM Data Source Username</label>
            <input type="text" formControlName="username" class="form-control" name="username" placeholder="Data source Username">
            <div class="help-block" *ngIf="username.invalid && (submitted || username.dirty || username.touched)">Please enter the Data source username</div>
          </div>
          <div class="form-group has-feedback" [ngClass]="{'has-error': password.invalid && (submitted || password.dirty || password.touched), 'has-success': password.valid && (submitted || password.dirty || password.touched) }">
            <label>CDM Data Source Password</label>
            <input type="password" formControlName="password" class="form-control" name="password" placeholder="Data source Password">
            <div class="help-block" *ngIf="password.invalid && (submitted || password.dirty || password.touched)">Please enter the datamodel password</div>
          </div>
          <div *ngIf="testResult" [ngClass]="{'text-green': testResult.result, 'text-red': !testResult.result}">{{ testResult.errorMsg }}. {{ testResult.detailErrorMsg }}</div>
          <button class="btn btn-primary">Join</button>
          <button class="btn btn-info" (click)="testDataSource($event)">Test</button>
        </form>
      </div>
    </div>
  </div>
</div>
