<div class="row">
  <div class="col-md-8">
    <div class="box box-info">
      <div class="box-header with-border">Add Network</div>
      <div class="box-body">
        <form>
          <div class="form-group">
            <label for="url">URL</label>
            <input type="text" class="form-control" id="url" placeholder="URL">
          </div>
          <div class="form-group">
            <label for="sitename">Network Name</label>
            <input type="text" class="form-control" id="networkname" placeholder="Network Name">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
