<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">New Inquiry</h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <form #f [formGroup]="inquiryForm">
              <div *ngIf="!showNetworkSitePanel">
                <div class="form-group">
                  <label for="dataType">Data Type</label>
                  <div class="radio">
                    <label class="radio-inline"><input type="radio" name="dataType" formControlName="dataType" value="aggregate">Aggregate</label>
                    <label class="radio-inline"><input type="radio" name="dataType" formControlName="dataType" value="data" disabled>Data</label>
                  </div>
                </div>
                <div class="form-group has-feedback" [ngClass]="{'has-error': inquiryName.invalid && (inquiryName.dirty || inquiryName.touched), 'has-success': inquiryName.valid && (inquiryName.dirty || inquiryName.touched) }">
                  <label for="name">Inquiry Name</label>
                  <input type="text" class="form-control" id="inquiry-name" formControlName="inquiryName" maxlength="100">
                  <div class="help-block" *ngIf="inquiryName.invalid && (inquiryName.dirty || inquiryName.touched)">Please enter a inquiry name</div>
                </div>
                <!-- <div class="form-group">
                  <label for="name">Study Name</label>
                  <input type="text" class="form-control" id="study-name" formControlName="studyName">
                </div> -->
                <div class="form-group has-feedback" [ngClass]="{'has-error': inquiryDescription.invalid && (inquiryDescription.dirty || inquiryDescription.touched), 'has-success': inquiryDescription.valid && (inquiryDescription.dirty || inquiryDescription.touched) }">
                  <label for="name">Inquiry Description</label>
                  <input type="text" class="form-control" id="inquiry-description" formControlName="inquiryDescription">
                  <div class="help-block" *ngIf="inquiryDescription.hasError('maxlength') && (inquiryDescription.dirty || inquiryDescription.touched)">Please enter no more than 500 characters</div>
                </div>
                <div class="form-group">
                  <label for="query">SQL</label>
                  <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                      <li class="active">
                        <a href="#tab_1" data-toggle="tab" aria-expanded="true">SQL Query</a>
                      </li>
                      <!-- <li>
                        <a href="#tab_2" data-toggle="tab" aria-expanded="true">SQL Server Query</a>
                      </li> -->
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="tab_1">
                        <div class="form-group has-feedback" [ngClass]="{'has-error': sqlQuery.invalid && (sqlQuery.dirty || sqlQuery.touched), 'has-success': sqlQuery.valid && (sqlQuery.dirty || sqlQuery.touched) }">
                          <textarea class="form-control" rows="5" id="sql_query" formControlName="sqlQuery" placeholder="enter ANSI SQL query"></textarea>
                          <div class="help-block" *ngIf="sqlQuery.invalid && (sqlQuery.dirty || sqlQuery.touched)">Please enter a sql query</div>
                        </div>
                      </div>
                      <!-- <div class="tab-pane" id="tab_2">
                        <textarea class="form-control" rows="5" id="sql_query" formControlName="sqlQuery" placeholder="enter your SQL Server T/SQL query"></textarea>
                      </div> -->
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary" (click)="onSave()">Save</button>
                <button class="btn btn-success" (click)="onRequest()">Save and Request</button>
                <button class="btn btn-link" (click)="onCancel()">Cancel</button>
              </div>
              <!-- <div *ngIf="showNetworkSitePanel">
                <div class="form-group">
                  <label for="network">Network</label>
                  <select formControlName="network" class="form-control" (change)="networkOnChange($event.target.value)">
                    <option value="">-Select-</option>
                    <option *ngFor="let network of networks" value="{{network.networkId}}">
                      {{ network.name }}
                    </option>
                  </select>
                </div>
                <div *ngIf="inquiryForm.controls.network.dirty" formArrayName="sitesToQuery" class="well well-lg">
                  <div class="form-group">
                    <label for="sites">Site to Query</label>
                    <div class="checkbox">
                      <ul class="list-unstyled">
                        <li *ngFor="let site of inquiryForm.controls.sitesToQuery.controls; let i=index" [formGroupName]="i">
                          <label class="checkbox-inline"><input type="checkbox" value="{{site.controls.siteId._value}}" formControlName="check">{{site.controls.name._value}}</label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <button class="btn btn-default" (click)="onRequest()">Go Back</button>
                <button class="btn btn-success" [disabled]="onSending" (click)="onSend()">{{ onSending ? 'Sending...' : 'Send' }}</button>
              </div> -->
              <!-- Modal -->
              <div class="modal fade" id="myRequestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Please select Network and Site</h4>
                    </div>
                    <div *ngIf="error?.error" class="alert alert-danger alert-dismissible">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true" (click)="onAlertDismiss()">×</button>
                      {{ error?.error?.displayMessage }}
                    </div>
                    <div *ngIf="networks" class="modal-body">
                        <div class="form-group  has-feedback" [ngClass]="{'has-error': network.invalid && (network.dirty || network.touched), 'has-success': network.valid && (network.dirty || network.touched) }">
                            <label for="network">Network</label>
                            <select *ngIf="networks?.length > 1" formControlName="network" class="form-control" (change)="networkOnChange($event.target.value)">
                              <option value="">-Select-</option>
                              <option *ngFor="let network of networks" value="{{network.networkId}}">
                                {{ network.name }}
                              </option>
                            </select>
                            <div class="help-block" *ngIf="network.invalid && (network.dirty || network.touched)">Please select a network</div>
                            <p *ngIf="networks?.length == 1">{{ networks[0]?.name }}</p>
                          </div>
                          <div *ngIf="inquiryForm.controls.network.dirty || networks?.length == 1" formArrayName="sitesToQuery" class="well well-lg">
                            <div class="form-group">
                              <label for="sites">Site to Query</label>
                              <div *ngIf="inquiryForm.controls.sitesToQuery.controls.length > 0" class="checkbox">
                                <ul class="list-unstyled">
                                  <li *ngFor="let site of inquiryForm.controls.sitesToQuery.controls; let i=index" [formGroupName]="i">
                                    <label class="checkbox-inline"><input type="checkbox" value="{{site.controls.siteId._value}}" formControlName="check">{{site.controls.name._value}}</label>
                                  </li>
                                </ul>
                              </div>
                              <div *ngIf="inquiryForm.controls.sitesToQuery.controls.length <= 0" class="row">
                                <div class="col-md-4 col-md-offset-4 text-center">
                                  <span>Loading...</span><br />
                                  <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div *ngIf="!networks" class="modal-body">
                      <div class="row">
                        <div class="col-md-4 col-md-offset-4 text-center">
                          <span>Loading...</span><br />
                          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" [disabled]="onSending" (click)="reset()">Cancel</button>
                      <button class="btn btn-success" [disabled]="!readyToSend()" (click)="onSend()">
                        <i *ngIf="onSending" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>
                        <span *ngIf="!onSending">Send</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>