<section class="content-header">
  <h1>Requests from me <small>requests sent from me</small></h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-2 placeholder">
        <button class="btn btn-block btn-primary" (click)="showNewQuery=!showNewQuery; editingInquiry = null; readOnly = false;">New Inquiry</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-new-query *ngIf="showNewQuery" [editingInquiry]="editingInquiry" [readOnly]="readOnly" (requestSent)="onRequestSent($event)" (requests)="onRequests($event)"></app-new-query>
      <!-- <app-saved-queries (editInquiry)="editInquiry($event)"></app-saved-queries> -->
      <app-recent-query (requestSent)="onRequestSent($event)"></app-recent-query>
      <app-requests-from-me-list (editInquiry)="editInquiry($event)" (viewInquiry)="viewInquiry($event)"></app-requests-from-me-list>
    </div>
  </div>
</section>
