<div>
  <!-- <switch [status]="true" [onColor]="'green'" [offColor]="'blue'" [onText]="'Current'" [offText]="'Archived'" (statusChange)="onSwitchChange($event)"></switch> -->
  <div>
    <b>Show: </b>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="active" (click)="onSwitchChange($event)" checked>Active
    </label>
    <label class="radio-inline">
      <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="archived" (click)="onSwitchChange($event)">Archived
    </label>
  </div>
  <table *ngIf="requests" class="table">
    <caption>Requests</caption>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>Request</th>
        <th>Date/Time</th>
        <th style="width: 200px">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let requestGroup of (requestGroups | mapValues)">
      <tr [ngClass]="{'archived-row' : requestGroup.show != null && !requestGroup.show}"  *ngIf="showArchive || requestGroup.show == null || requestGroup.show">
        <td (click)="requestGroup.active = !requestGroup.active"><i class="fa pointer" [ngClass]="{'fa-plus-square-o': !requestGroup.active, 'fa-minus-square-o': requestGroup.active}"></i> {{ requestGroup.val[0].inquiry.inquiryName }}</td>
        <td>{{ requestGroup.val[0].sentTimestamp | date:'yyyy-MM-dd h:mm a' }}</td>
        <td>
          <button class="btn btn-default btn-xs" (click)="onArchiveAll(requestGroup, $event)" title="Archive All"><i class="fa fa-archive"></i></button>
          <button class="btn btn-success btn-xs" (click)="onViewClick(requestGroup.val[0].inquiry)">View</button>
          <button *ngIf="requestGroup.val[0].inquiry.queryType !== 'DATA'" class="btn btn-success btn-xs" (click)="onEditClick(requestGroup.val[0].inquiry)">Edit</button>
        </td>
      </tr>
      <tr *ngIf="requestGroup.active">
        <td colspan="4">
          <p (click)="requestGroup.showingDetails = !requestGroup.showingDetails">Show Details <i class="fa" [ngClass]="{'fa-chevron-circle-down': !requestGroup.showingDetails, 'fa-chevron-circle-up': requestGroup.showingDetails}" aria-hidden="true"></i></p>
          <div *ngIf="requestGroup.showingDetails" class="box box-solid">
            <div class="box-body">
                <form class="form-horizontal">
                    <div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Requester</label>
                        <div class="col-sm-10" style="padding-top: 7px">
                          {{ requestGroup.val[0].requester?.realName }}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10" style="padding-top: 7px">
                          {{ requestGroup.val[0].inquiry.inquiryDescription }}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Code</label>
                        <div class="col-sm-10" style="padding-top: 7px">
                          {{ requestGroup.val[0].code }}
                        </div>
                      </div>
                    </div>
                  </form>
            </div>
            <!-- /.box-body -->
          </div>
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th>Site</th>
                <th>Status</th>
                <th>Started</th>
                <th>Finished</th>
                <th style="width: 300px">Result</th>
                <th style="width: 190px">Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let request of requestGroup.val">
                <tr *ngIf="!request.archived">
                  <td>{{ request.requestSite.name }}</td>
                  <td>{{ request.responses[0]?.status }}</td>
                  <td>{{ request.sentTimestamp | date:'yyyy-MM-dd h:mm a' }}</td>
                  <td>{{ request.responses[0]?.replyTimestamp | date:'yyyy-MM-dd h:mm a' }}</td>
                  <td>{{ getRequestResult(request.responses[0]) }}
                      <i *ngIf="request.hasOwnProperty('responses') && !['ERROR', 'COMPLETED', 'STALLED', 'PENDING', 'DENIED'].includes(request.responses[0]?.status) && !request.responses[0]?.hasError" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>
                      <span *ngIf="request.responses[0]?.hasError" class="pull-right-container">
                        <small class="label bg-red">Network Error</small>
                      </span>
                      <a title="{{ getFilePaths(request.responses[0]) }}" data-toggle="tooltip" data-placement="top"><i *ngIf="request.responses[0]?.files" class="fa fa-question-circle"></i></a>
                  </td>
                  <td>
                    <button class="btn btn-default btn-xs" (click)="onArchive(request, $event)" title="Archive"><i class="fa fa-archive"></i></button>
                    <button *ngIf="['ERROR', 'STALLED', 'DENIED'].includes(request.responses[0]?.status)" class="btn btn-success btn-xs" (click)="resubmit(request)">Resubmit</button>
                    <button *ngIf="request.inquiry.queryType === 'AGGREGATE'" [disabled]="!request.responses[0]?.downloadAvailable" class="btn btn-primary btn-xs" (click)="requestData(request)">Request Data</button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!requests" class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <span>Loading requests...</span><br />
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
  </div>
</div>
