<div class="table-responsive">
  <table class="table table-striped">
    <caption>Inquiries</caption>
    <thead>
      <tr>
        <th>Inquiry ID</th>
        <th>Type</th>
        <th>Date/Time</th>
      </tr>
    </thead>
    <tbody *ngFor="let inquiry of inquires">
      <tr>
        <td>{{inquiry.inquiry_id}}</td>
        <td>{{inquiry.type}}</td>
        <td>{{inquiry.datetime}}</td>
        <td>
          <button class="btn btn-primary" (click)="onEditClick(inquiry)">Continue edit</button>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped">
    <caption>Requests</caption>
    <thead>
      <tr>
        <th>Request Group ID</th>
        <th>Type</th>
        <th>Date/Time</th>
      </tr>
    </thead>
    <tbody *ngFor="let requestGroup of (requestGroups | mapValues)">
      <tr>
        <td><i class="fa pointer" [ngClass]="{'fa-plus-square-o': !requestGroup.active, 'fa-minus-square-o': requestGroup.active}" (click)="requestGroup.active = !requestGroup.active"></i> {{requestGroup.key}}</td>
        <td>{{ requestGroup.val[0].direction }}</td>
        <td>{{ requestGroup.val[0].responses[0].replyTimestamp }}</td>
        <td></td>
      </tr>
      <tr *ngIf="requestGroup.active">
        <td colspan="4">
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th>Request ID</th>
                <th>Site</th>
                <th>Status</th>
                <th>Result</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let request of requestGroup.val">
                <td>{{ request.requestId }}</td>
                <td>{{ request.requestSite.name }}</td>
                <td>{{ request.responses[0].status }}</td>
                <td>{{ request.responses[0].result }}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
