<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3>{{user.realName}}</h3>
        <span>{{user.email}}</span>
        <br />
      </div>
      <div class="box-body">
        <!-- <ul class="list-unstyled">
          <li *ngFor="let role of local_roles">
            <div class="checkbox">
              <label>
                <input *ngIf="!showSpin" id="{{user.id+'_'+role[0]}}" type="checkbox" attr.data-userid="{{user.id}}" [checked]="role[1]" (change)="toggleRole($event, role[0])" >
                <i *ngIf="showSpin" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>{{ role[0] }}
              </label>
            </div>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</div>
