<div class="row">
    <div class="col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3>{{user.username}}</h3>
                <span>sign up at:{{user.signupAt}}</span>
            </div>
            <div class="box-body">
                <ul class="list-unstyled">
                    <li><input type="checkbox" data-id="{{user.id}}" [(ngModel)]="user.roles.is_admin" (change)="toggleRole($event, 'is_admin')"/> Admin</li>
                    <li><input type="checkbox" data-id="{{user.id}}" [(ngModel)]="user.roles.is_steward" (change)="toggleRole($event, 'is_steward')"/> Steward</li>
                    <li><input type="checkbox" data-id="{{user.id}}" [(ngModel)]="user.roles.is_viewer" (change)="toggleRole($event, 'is_viewer')"/> Viewer</li>
                </ul>
            </div>
        </div>
    </div>
</div>
