<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
    <!-- search form -->
    <!-- <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                <i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form> -->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li [class.active]="isActive('/queries-to-me')">
        <a [routerLink]="['/queries-to-me']"><i class="fa fa-cloud-download"></i><span>Incoming Requests</span></a>
      </li>
      <li [class.active]="isActive('/queries-from-me')">
        <a [routerLink]="['/queries-from-me']"><i class="fa fa-cloud-upload"></i><span>Outgoing Requests</span></a>
      </li>
      <li *ngIf="showNetworkConfiguration" [class.active]="isActive('/networks')">
        <a [routerLink]="['/networks']"><i class="fa fa-share-alt"></i><span>Networks</span></a>
      </li>
      <li *ngIf="showUserManagement" [class.active]="isActive('/users')">
        <a [routerLink]="['/users']"><i class="fa fa-users"></i><span>Users</span></a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>