<section class="content-header">
  <h1>Change Password <small>because your password is outdated</small></h1>
</section>
<section class="content">
  <div *ngIf="success" class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-check"></i> Succeeded!</h4>
    Password is changed!
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form name="form" (ngSubmit)="changePassword()" #f [formGroup]="changePasswordForm" novalidate>
        <div class="form-group has-feedback" [ngClass]="{'has-error': old_password.invalid && (old_password.dirty || old_password.touched), 'has-success': old_password.valid && (old_password.dirty || old_password.touched) }">
          <input type="password" class="form-control" formControlName="old_password" name="old_password" placeholder="Old password" />
          <div class="help-block" *ngIf="old_password.hasError('required') && (old_password.dirty || old_password.touched)">Please enter Old Password</div>
        </div>
        <div class="form-group has-feedback" [ngClass]="{'has-error': new_password.invalid && (new_password.dirty || new_password.touched), 'has-success': new_password.valid && (new_password.dirty || new_password.touched) }">
          <input type="password" class="form-control" formControlName="new_password" name="new_password" placeholder="New Password" validateEqual="new_password_confirmation" reverse="true" />
          <div class="help-block" *ngIf="new_password.hasError('required') && (new_password.dirty || new_password.touched)">Please enter New Password</div>
        </div>
        <div class="form-group has-feedback" [ngClass]="{'has-error': new_password_confirmation.invalid && (new_password_confirmation.dirty || new_password_confirmation.touched), 'has-success': new_password_confirmation.valid && (new_password_confirmation.dirty || new_password_confirmation.touched) }">
          <input type="password" class="form-control" formControlName="new_password_confirmation" name="new_password_confirmation" placeholder="Retype New Password" validateEqual="new_password" reverse="false" />
          <div class="help-block" *ngIf="(!new_password_confirmation.hasError('required') && new_password_confirmation.hasError('validateEqual')) && (new_password_confirmation.dirty || new_password_confirmation.touched)">Password mismatch</div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <button [disabled]="changePasswordForm.invalid || loading" class="btn btn-primary btn-block btn-flat">
              <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>
              <span *ngIf="!loading">Change Password</span>
            </button>
          </div>
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      </form>
    </div>
  </div>
</section>
