<div class="login-box">
  <div class="login-logo">
    <b>Daquery</b><i class="fa fa-glass"></i>
  </div>
  <div class="login-box-body">
    <h2 class="login-box-msg">Initial Setup</h2>
    <form #f [formGroup]="setupForm" (ngSubmit)="onSubmit()">
      <table style="display: table; width: 100%">
        <tbody>
          <tr>
            <td width="90%">
                <div class="form-group has-feedback" [ngClass]="{'has-error': sitename.invalid && (sitename.dirty || sitename.touched), 'has-success': sitename.valid && (sitename.dirty || sitename.touched) }">
                  <input title="The name of your site. This will be provided to you in a separate communication." type="text" formControlName="sitename" class="form-control" name="site-name" placeholder="Site Name" />
                  <span class="fa fa-file-text-o form-control-feedback"></span>
                  <div class="help-block" *ngIf="sitename.invalid && (sitename.dirty || sitename.touched)">Please enter a site name</div>
                </div>
            </td>
            <td width="10%" valign="top" style="padding: 6px">
                <a title="The name of your site. This will be provided to you in a separate communication." data-toggle="tooltip" data-placement="top"><i class="fa fa-question-circle"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <table style="display: table; width: 100%">
        <tbody>
          <tr>
            <td>
              <div class="form-group has-feedback" [ngClass]="{'has-error': sitekey.invalid && (sitekey.dirty || sitekey.touched), 'has-success': sitekey.valid && (sitekey.dirty || sitekey.touched) }">
                <input type="text" formControlName="sitekey" class="form-control" name="site-key" placeholder="Site Key" />
                <span class="fa fa-key form-control-feedback"></span>
                <div class="help-block" *ngIf="sitekey.invalid && (sitekey.dirty || sitekey.touched)">Please enter a site key</div>
              </div>
            </td>
            <td width="10%" valign="top" style="padding: 6px">
              <a title="The initial key/password used to connect to the PaTH network. This will be provided to you in a separate communication." data-toggle="tooltip" data-placement="top"><i class="fa fa-question-circle"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <table style="display: table; width: 100%">
        <tbody>
          <tr>
            <td>
              <div class="form-group has-feedback" [ngClass]="{'has-error': adminemail.invalid && (adminemail.dirty || adminemail.touched), 'has-success': adminemail.valid && (adminemail.dirty || adminemail.touched) }">
                <input type="text" formControlName="adminemail" class="form-control" name="admin-email" placeholder="Admin Email" validateEqual="adminemail_confirmation" reverse="true" />
                <span class="fa fa-envelope-o form-control-feedback"></span>
                <div class="help-block" *ngIf="adminemail.invalid && (adminemail.dirty || adminemail.touched)">Please enter a valid email address</div>
              </div>
            </td>
            <td width="10%" valign="top" style="padding: 6px">
              <a title="Your email address." data-toggle="tooltip" data-placement="top"><i class="fa fa-question-circle"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <table style="display: table; width: 100%">
        <tbody>
          <tr>
            <td>
              <div class="form-group has-feedback" [ngClass]="{'has-error': adminemail_confirmation.invalid && (adminemail_confirmation.dirty || adminemail_confirmation.touched), 'has-success': adminemail_confirmation.valid && (adminemail_confirmation.dirty || adminemail_confirmation.touched) }">
                <input type="text" formControlName="adminemail_confirmation" class="form-control" name="admin-email_confirmation" placeholder="Retype Admin Email" validateEqual="adminemail" reverse="false" />
                <span class="fa fa-envelope-o form-control-feedback"></span>
                <div class="help-block" *ngIf="(adminemail_confirmation.hasError('required') || adminemail_confirmation.hasError('email')) && (adminemail_confirmation.dirty || adminemail_confirmation.touched)">Please enter a valid email address</div>
                <div class="help-block" *ngIf="(!adminemail_confirmation.hasError('required') && !adminemail_confirmation.hasError('email') && adminemail_confirmation.hasError('validateEqual')) && (adminemail_confirmation.dirty || adminemail_confirmation.touched)">Email mismatch</div>
              </div>
            </td>
            <td width="10%" valign="top" style="padding: 6px">
            </td>
          </tr>
        </tbody>
      </table>
      <table style="display: table; width: 100%">
        <tbody>
          <tr>
            <td>
              <div class="form-group has-feedback" [ngClass]="{'has-error': adminpwd.invalid && (adminpwd.dirty || adminpwd.touched), 'has-success': adminpwd.valid && (adminpwd.dirty || adminpwd.touched) }">
                <input type="password" formControlName="adminpwd" class="form-control" name="admin-pwd" placeholder="Admin Password" validateEqual="adminpwd_confirmation" reverse="true" />
                <span class="fa fa-lock form-control-feedback"></span>
                <div class="help-block" *ngIf="adminpwd.hasError('required') && (adminpwd.dirty || adminpwd.touched)">Please enter a password</div>
                <div class="help-block" *ngIf="adminpwd.hasError('minlength') && (adminpwd.dirty || adminpwd.touched)">Password at least 8 characters</div>
              </div>
            </td>
            <td width="10%" valign="top" style="padding: 6px">
              <a title="A password that you will use when logging into the site." data-toggle="tooltip" data-placement="top"><i class="fa fa-question-circle"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <table style="display: table; width: 100%">
        <tbody>
          <tr>
            <td>
              <div class="form-group has-feedback" [ngClass]="{'has-error': adminpwd_confirmation.invalid && (adminpwd_confirmation.dirty || adminpwd_confirmation.touched), 'has-success': adminpwd_confirmation.valid && (adminpwd_confirmation.dirty || adminpwd_confirmation.touched) }">
                <input type="password" formControlName="adminpwd_confirmation" class="form-control" name="admin-pwd_confirmation" placeholder="Retype Admin Password" validateEqual="adminpwd" reverse="false" />
                <span class="fa fa-lock form-control-feedback"></span>
                <div class="help-block" *ngIf="adminpwd_confirmation.hasError('required') && (adminpwd_confirmation.dirty || adminpwd_confirmation.touched)">Please retype a password</div>
                <div class="help-block" *ngIf="(!adminpwd_confirmation.hasError('required') && adminpwd_confirmation.hasError('validateEqual')) && (adminpwd_confirmation.dirty || adminpwd_confirmation.touched)">Password mismatch</div>
              </div>
            </td>
            <td width="10%" valign="top" style="padding: 6px">
            </td>
          </tr>
        </tbody>
      </table>
      <table style="display: table; width: 100%">
        <tbody>
          <tr>
            <td>
              <div class="form-group has-feedback" [ngClass]="{'has-error': adminrealname.invalid && (adminrealname.dirty || adminrealname.touched), 'has-success': adminrealname.valid && (adminrealname.dirty || adminrealname.touched) }">
                <input type="text" formControlName="adminrealname" class="form-control" name="admin-real-name" placeholder="Admin Real Name" />
                <span class="fa fa-user-o form-control-feedback"></span>
                <div class="help-block" *ngIf="adminrealname.hasError('required') && (adminrealname.dirty || adminrealname.touched)">Please enter a real name</div>
                <div class="help-block" *ngIf="adminrealname.hasError('maxlength') && (adminrealname.dirty || adminrealname.touched)">Real name at most 20 characters</div>
              </div>
            </td>
            <td width="10%" valign="top" style="padding: 6px">
              <a title="Your name." data-toggle="tooltip" data-placement="top"><i class="fa fa-question-circle"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-xs-12">
          <button [disabled]="loading" class="btn btn-primary btn-block btn-flat">
            {{ loading ? 'Application initializing, please wait...' : 'Initialize Daquery' }}
          </button>
        </div>
      </div>
      <br />
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
  </div>
</div>