<section class="content-header">
  <h1>Network Configuration <small>share your data</small></h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-4 placeholder">
      <button class="btn btn-default btn-app" (click)="toggleJoinNetwork()">
          <i class="fa fa-sign-in"></i>Join New Network</button>
      <!-- <button class="btn btn-default btn-app" (click)="toggleCreateNetwork()">
          <i class="fa fa-edit"></i>Create Network</button> -->
    </div>
  </div>
  <app-add-network *ngIf="showJoinNetwork" (newNetwork)="addNewNetwork($event)"></app-add-network>
  <app-create-network *ngIf="showCreateNetwork" (newNetwork)="addNewNetwork($event)"></app-create-network>
  <div *ngFor="let network of networks">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title">{{network.name}}</h3> <small>Description of the network</small>
            <a class="btn btn-link" [routerLink]="['/networks', network.id]">Edit Sites</a>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
            <!-- /.box-tools -->
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <ul>
              <li *ngFor="let site of network.sites">{{ site.name }} {{ site.direction }}</li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>
  </div>
</section>