<div class="login-box">
  <div class="login-logo">
    <b>Daquery</b><i class="fa fa-glass"></i>
  </div>
  <div class="login-box-body">
    <div class="row">
      <div class="col-md-12">
        <p>Please change your password on your first login.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form name="form" (ngSubmit)="changePassword()" #f [formGroup]="changePasswordForm" novalidate>
          <div class="form-group has-feedback" [ngClass]="{'has-error': new_password.invalid && (new_password.dirty || new_password.touched), 'has-success': new_password.valid && (new_password.dirty || new_password.touched) }">
            <input type="password" class="form-control" formControlName="new_password" name="new_password" placeholder="New Password" validateEqual="new_password_confirmation" reverse="true" />
            <div class="help-block" *ngIf="new_password.hasError('required') && (new_password.dirty || new_password.touched)">Please enter New Password</div>
          </div>
          <div class="form-group has-feedback" [ngClass]="{'has-error': new_password_confirmation.invalid && (new_password_confirmation.dirty || new_password_confirmation.touched), 'has-success': new_password_confirmation.valid && (new_password_confirmation.dirty || new_password_confirmation.touched) }">
            <input type="password" class="form-control" formControlName="new_password_confirmation" name="new_password_confirmation" placeholder="Retype New Password" validateEqual="new_password" reverse="false" />
            <div class="help-block" *ngIf="(new_password_confirmation.hasError('required') || new_password_confirmation.hasError('validateEqual')) && (new_password_confirmation.dirty || new_password_confirmation.touched)">Password mismatch</div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button [disabled]="changePasswordForm.invalid || loading" class="btn btn-primary btn-block btn-flat">
                <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw"></i>
                <span *ngIf="!loading">Change Password</span>
              </button>
            </div>
          </div>
          <div *ngIf="error" class="alert alert-danger">{{error.displayMessage}}</div>
        </form>
      </div>
    </div>
  </div>
</div>
  